<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/style.css">
<title>Zahlenraten</title>
</head>
<body>
<div id="page">
	<div id="pageheader"
		<h1>Rate die Zahl</h1>
	</div>
	<div id="pagebody">
	    <ul>
	    <li>Variante 1: <a href="/global/">Globales Server-Objekt</a>
	    <li>Variante 2: <a href="/get/">GET-Parameter</a>
	    <li>Variante 3: POST-Parameter (not implemented)
	    <li>Variante 4: Javascript (not implemented)
	    <li>Variante 5: <a href="/cookies/">Cookies</a>
	    <li>Variante 6: <a href="/session/">Session per Cookie</a>
	    </ul>
	</div>
	<div id="pageactions">
		<p>
		    2015, tobias thelen, public domain
		</p>
	</div>
</div>
</body>
</html>