{{> skel_start}}

    <h1>Die zweite Seite</h1>
    <p>
      Diese Seite ist die zweite. Sie steht nach der ersten. Aber sie steht der ersten in nichts nach.
    </p>
    <p>Und hier ist magische Zahl: {{magic_number}}.
    <p>
    Written by {{#author}} {{> user }} {{/author}}.

{{> skel_end}}
