<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/skel.css">
</head>
<body>
    <nav>
        <ul>
            <li {{#index}}class="active"{{/index}}><a href="/">Index</a></li>
            <li {{#page2}}class="active"{{/page2}}><a href="/page2/">Page 2</a></li>
            <li {{#page3}}class="active"{{/page3}}><a href="/page3/">Page 3</a></li>
        </ul>
    </nav>
    <section>
