<!DOCTYPE html>
<html>
<head>
    <title>Celsius -> Fahrenheit Umrechnung</title>
</head>
<body>
    <h1>Umrechnung Celsius -> Fahrenheit</h1>

    <p>{msg}</p>

    <form action="" method="GET">
        <label for="celsius">Bitte Grad Celsius eingeben: </label>
        <input name="celsius" id="celsius">
    </form>

</body>
</html>