<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teamlist</title>
    <link rel="stylesheet" href="/static/teamlist.css">
    <script src="/static/personlist.js"></script>
  </head>
  <body>
    <header id="thehead">Teamlist</header>
    <nav>
        <a href="/persons">Personen</a>
        <a href="/teams">Teams</a>
    </nav>
    <section>
        <aside id="thelist">

        </aside>
        <article id="theperson">
            ...
        </article>
    </section>
  </body>
</html>