{% extends 'skel.tmpl' %}
{% set active_page = 'index' %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p>
      Dies ist eine großartige Webseite.
    </p>
{% endblock %}