<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Zahlenraten</title>
    </head>
    <body>
        <div id="page">
            <div id="pageheader"
                <h1>Rate die Zahl $variant</h1>
            </div>
            <div id="pagebody">
                <p>Rate eine Zahl zwischen 1 und 100.</p>
                <h2>$msg</h2>
                <form action="" method="get">
                $hidden
                <p>$cnt . Rateversuch: <input type="text" size=3 name="guess"></p>
                <p><i>$newmsg</i></p>
                </form>

            </div>
            <div id="pageactions">
                <p>
                    2011-2016, tobias thelen, public domain - <a href="/">zur&uuml;ck zum Start</a>
                </p>
            </div>
        </div>
    </body>
</html>