<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>$pagename</title>
		<link rel="stylesheet" type="text/css" href="/static/wiki.css">
	</head>
	<body>
		<header><h1>$pagename</h1></header>
		<nav class="top">
			<p>Wiki-Seiten:</p>
			$pagelist
		</nav>
		<section>
			<article>$text</article>
			<footer class="actions">
				<a href="/show">back to main</a>
				&middot;
				<a href="/edit/$pagename">Edit</a>
				&middot;
				<a href="/delete/$pagename">Delete</a>
			</footer>
		</section>
		<nav class="bottom">
			<p>Alle Wiki-Seiten</p>
			$pagelist
		</nav>
		<nav class="dropdown">
			$pagelist_dropdown
		</nav>
	</body>
</html>